# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*build-*

# QtCreator

*.autosave
*.config
*.creator
*.creator.user
*.files
*.includes


#QtCtreator Qml

*.qmlproject.user
*.qmlproject.user.*

# Other ignores

_build
nRF52_SDK_0.9.2_dbc28c9
nRF52_SDK_0.9.2_dbc28c9.zip
nRF5_SDK_11.0.0-2.alpha_bc3f6a0
nRF5_SDK_11.0.0-2.alpha_bc3f6a0.zip
nRF5_SDK_11.0.0_89a8197
nRF5_SDK_11.0.0_89a8197.zip
